.container {
    border:2px solid red;
    background-color: antiquewhite;
    margin:34px auto;
    padding:34px;
    width: 700px;
}

.btn {
    background-color: crimson;
    border:none;
    padding: 7px;
    border-radius: 4px;
    font-size: 13px;
    color:black;
    cursor: pointer;
}
.btn:hover {
    background-color: blue;
    color: antiquewhite;
}
a{
    text-decoration: none;
}
a:hover {
    background-color: rgb(103, 25, 25);
    color: antiquewhite;
}
a:active {
    background-color: blanchedalmond;
    color: blueviolet;
}
a:visited {
    background-color: aliceblue;
    color: black;
}

